@font-face {
	font-family: "Cuprum";
	src: url("fonts/cuprum_[allfont.ru].ttf");
	font-weight:600;
	font-style: normal;
}
@font-face {
	font-family: "Cuprum_bold";
	src:url("fonts/cuprumbold.ttf");
	font-weight:900;
	font-style:normal;
}
@font-face {
	font-family: "Jura";
	src:url("fonts/juramedium.ttf");
	font-weight:900;
	font-style:normal;
}

$primary-color:#131E86;
$second-color:#FFFFFF;
$third-color:black;
* {
	margin:0;
	padding:0;
}

a {
	text-decoration: none;
	list-style-type: none;
}
a:hover {
	color:$primary-color;
}

html {
	width:calc(100vw - 13px);
	height:auto;
	overflow-x: hidden;
	body {
		width:100%;
		height:auto;
    	font-family: Cuprum,arial;
		header {
			width:100%;
			height:calc(100vh + 100px);
			position:relative;
			margin:-5px -3px;
			.head_inner-wrapper,
			.blur {
			    position: absolute;
			    width:100%;
				height:calc(100vh + 100px);
			    left: 0;
			    top: 0;
			    bottom:0;
			    right:0;
			}
			.head_inner-wrapper {
			    z-index: 100;
			    background-color: rgba(59,83,142,0.3);
			}
			.blur {
			    z-index: 1;
			    background-image: url("../images/top_bg_smaller.jpg");
			    background-size: cover;
			    background-repeat: no-repeat;
			    filter: blur(3px);
			    
			}
			.logo_top-menu {
				width:100%;
				height:200px;
				display:flex;
				align-items: center;
				.logo {
					flex-grow: 1;
					max-width:50%;
					display: flex;
					justify-content: flex-start;
					.logo_pic {
						margin-left:50px;
					}
				}
				.top-menu {
					flex-grow: 1;
					max-width:50%;
					display:flex;
					justify-content: space-around;
					font-size: 1.4em;
					font-family: Cuprum_bold, arial;
					a {
						color:$second-color;
						display:flex;
						justify-content: center;
						transition-duration: .5s;
					}
					a:hover {
						color:#0B78DD;
						transform: scale(1.3);
					}
				}
			}
			.slogan_form {
				width:100%;
				height:calc(100vh - 100px);
				display:flex;
				.slogan_block {
					display:flex;
					max-width: 60%;
					flex-grow: 1;
					justify-content: flex-start;
					align-items: center;
					.slogan {
						color:$second-color;
						font-family: Jura,arial;
						letter-spacing: -1.8px;
						font-size:80px;
						margin-left:50px;
					}
				}
				.form_block {
					display:flex;
					max-width:40%;
					flex-grow:1;
					justify-content: center;
					position:relative;
					.form_backcall {
						position:absolute;
						top:50px;
						z-index:110;
						display:flex;
						flex-direction: column;
						justify-content:space-around;
						align-items: center;
						padding:10px 5px;
						width:70%;
						height:440px;
						border:none;
						border-radius:4px;
						background-color: rgba(255,255,255,1);
						box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
						.backcall {
							font-family: Cuprum,arial;
							font-size: 22px;
						}
						.name,
						.mail,
						.telephone,
						.company {
							width:85%;
							height:40px;
							border:solid 1px #EEEEEE;
							border-radius:4px;
							outline:none;
							background-color:#EEEEEE;
							padding-left:10px;
							font-size: 14px;
							background-color:#D7D3D3;
						}

						.name:hover,
						.mail:hover,
						.telephone:hover,
						.company:hover {
							border:solid 1px gray;
						}
						.name:focus,
						.mail:focus,
						.telephone:focus,
						.company:focus {
							border:solid 1px $primary-color;
						}
						.agreement {
							display:flex;
							align-items: center;
							justify-content: space-around;
							label {
								margin-left:10px;
								font-size:15px;
							}
						}
						.submit_backcall {
							width:calc(85% + 10px);
							height:40px;
							border:solid 1px $primary-color;
							border-radius:4px;
							background-color: $primary-color;
							outline:none;
							color:#FFFFFF;
							font-family: Cuprum,arial;
							font-size: 22px;
						}
						input[type=submit]:hover {
							cursor: pointer;
						}
					}			
					.form_backcall:hover {
						background-color: rgba(255,255,255,1);
					}
					.form_backcall:hover .name,
					.form_backcall:hover .telephone,
					.form_backcall:hover .mail,
					.form_backcall:hover .company {
						background-color:#D7D3D3;
					}
				}
			}
		}
		main {
			width:100%;
			height:auto;
			.our-services {
				width:calc(100% - 80px);
				height:440px;
				margin:0 40px;
				display:flex;
				flex-direction: column;
				font-family: Cuprum_bold,arial;
				.name_services {
					width:100%;
					height:170px;
					margin-left:150px;
					display: flex;
					justify-content: flex-start;
					align-items: center;
					font-size: 48px;
					span {
						display:block;
						margin-right:15px;
						color:$primary-color;
					}
				}
				.blocks_of_services {
					width:100%;
					height:240px;
					display:flex;
					justify-content: space-around;
					align-items:center;
					.serv {
						flex-grow: 1;
						height:270px;
						display:flex;
						flex-direction: column;
						align-items: center;
						justify-content: center;
						.pic {
							width:120px;
							height:120px;
							border:solid 1px transparent;
							img {
								width:120px;
								height:120px;
								object-fit: cover;
								transition-duration: .7s;
							}
						}
						.name_serv {
							width:120px;
							height:120px;
							display: flex;
							justify-content: center;
							align-items: center;
							font-size: 22px;
							transition-duration: .7s;
						}
					}
					.serv:hover .pic img {
						transform: scale(1.3);
					}
					.serv:hover .name_serv {
						color:$primary-color;
						transform: scale(1.3);
					}
				}
			}
			.make-order {
				width:100%;
				height:100px;
				background-color:#565656;
				display:flex;
				flex-direction: column;
				justify-content: space-around;
				align-items: center;
				.make_order_now {
					color:$second-color;
					font-family: Cuprum_bold,arial;
					font-size:24px;
					letter-spacing: -0.4px;
				}
				.to_order {
					width:220px;
					height:35px;
					outline:none;
					border:none;
					border-radius:4px;
					color:#C62314;
					font-family: Cuprum_bold,arial;
					font-size:22px;
					letter-spacing: -0.4px;
					cursor: pointer;
				}
			}
			.certificates {
				width:100%;
				height:550px;
				display:flex;
				flex-direction: column;
				.names_certificates {
					width:100%;
					height:100px;
					display: flex;
					justify-content: center;
					align-items: center;
					font-family: Cuprum_bold, arial;
					font-size:48px;
					letter-spacing: -1px;
					color:$primary-color;
				}
				.images_certifacates {
					width:100%;
					height:400px;
					display:flex;
					justify-content: space-around;
				}
			}
			.how-we-work {
				width:calc(100% + 10px);
				height:250px;
				display:flex;
				position:relative;
				margin:0 -5px;
				font-family: Cuprum, arial;
				.how_we_work_inner-wrapper,
				.opacity{
				    position: absolute;
				    width:calc(100% + 10px);
					height:250px;
				    left: 0;
				    top: 0;
				    bottom:0;
				    right:0;
				}
				.opacity {
				    z-index: 1;
				    background-image: url("../images/how_we_work/contract2.jpg");
				    background-size: cover;
				    background-repeat: no-repeat;	
				    filter:grayscale(100%) blur(1px);
				    opacity: 0.6;	    
				}
				.how_we_work_inner-wrapper {
					display: flex;
					flex-direction:column;
					align-items: center;
				    z-index: 100;
					.title {
						width:40%;
						height:50px;
						display: flex;
						justify-content: center;
						align-items: center;
						/* Прячем часть линий, выходящие за пределы блока */
					    overflow: hidden;
					    /* Выравниваем заголовок по центру, можно указать left, right для выравнивания влево или вправо */
					    text-align: center;
					    /* Размер заголовка */
					    font-size: 20px;
					}
					.title:before,
					.title:after {
					    /* Свойство content необходимо указывать хотя бы пустое, иначе псевдоэлементы не отобразятся */
					    content: "";
					    /* Свойства линий, выравнивание по центру по вертикали */
					    display: inline-block;
					    vertical-align: middle;
					    /* Ширина - 100% и указываем толщину линии */
					    width: 100%;
					    height: 1px;
					    /* Цвет линии */
					    background-color: #000000;
					    /* Возможность для пседоэлементов изменить позицию линии */
					    position: relative;
					}
					.title:before {
					    /* Ставим левую линию слева от текста, смещая ее на 100% влево */
					    margin-left: -100%;
					    /* Отступ линии от заголовка */
					    left: -10%;
					}
					.title:after {
					    /* Ставим правую линию справа от текста, смещая ее на 100% вправо */
					    margin-right: -100%;
					    /* Отступ линии от заголовка */
					    right: -10%;
					}
					.explanation {
						width:80%;
						height:50px;
						display: flex;
						text-align:center;
						align-items: center;
						justify-content: center;
					}
					.steps_of_work {
						width:80%;
						height:150px;
						display:flex;
						align-items: center;
						justify-content: space-between;
						.step_first,
						.step_second,
						.step_third,
						.step_fourth {
							min-width:70px;
							height:100px;
							display:flex;
							flex-direction: column;
							align-items: center;
							margin:0 3%;
							.step_request,
							.step_contract,
							.step_work,
							.step_documents {
								min-width:70px;
								height:70px;
								border-radius: 50%;
							}
							.step_request { 
								margin-left:0;
								background-image: url("../images/how_we_work/contract3.jpg");
								background-size: cover;
							}
							.step_contract { 
								background-image: url("../images/how_we_work/contract1.jpg");
								background-size: cover;
							}
							.step_work{ 
								background-image: url("../images/how_we_work/work/work1.jpg");
								background-size: cover;
							}
							.step_documents {
								margin-right: 0;
								background-image: url("../images/how_we_work/documents/documents1.jpg");
								background-size: cover;
							}
							.request,
							.contract,
							.work,
							.documents {
								width:70px;
								height:30px;
								display: flex;
								text-align: center;
								justify-content: center;
								align-items: center;
							}
						}
						.step_first:hover,
						.step_second:hover,
						.step_third:hover,
						.step_fourth:hover {
							cursor: pointer;
							transform: scale(1.4);
						}

						hr {
							width:100%;
							height:1px;
							border:none;
							background-color: #000000;
						}
					}
				}
			}
		}
		footer {
			width:100%;
			height:200px;
			background-color: #373737;
			display: grid;
			grid-template-rows: 150px 50px;
			grid-template-columns: 1fr 1fr;
			grid-template-areas: 
				"contacts us"
				"terms terms";
			.bot_contacts {

				height:150px;
				grid-area: contacts;
				border:solid 1px white;
			}
			.about_us {
				height:150px;
				grid-area: us;
								border:solid 1px white;
			}
			.terms {
				width:100%;
				height:50px;
				grid-area: terms;
								border:solid 1px white;
			}
		}
	}
}